[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SimplicialCubature"]
	path = SimplicialCubature
	url = https://github.com/cran/SimplicialCubature
[submodule "SphericalCubature"]
	path = SphericalCubature
	url = https://github.com/cran/SphericalCubature
[submodule "ecdfHT"]
	path = ecdfHT
	url = https://github.com/cran/ecdfHT
[submodule "gensphere"]
	path = gensphere
	url = https://github.com/cran/gensphere
[submodule "mvmesh"]
	path = mvmesh
	url = https://github.com/cran/mvmesh
