[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ecdfHT"]
	path = ecdfHT
	url = https://github.com/cran/ecdfHT
	shallow = true
	registered = true
[submodule "gensphere"]
	path = gensphere
	url = https://github.com/cran/gensphere
	shallow = true
	registered = true
[submodule "mvmesh"]
	path = mvmesh
	url = https://github.com/cran/mvmesh
	shallow = true
	registered = true
[submodule "SimplicialCubature"]
	path = SimplicialCubature
	url = https://github.com/cran/SimplicialCubature
	shallow = true
	registered = true
[submodule "SphericalCubature"]
	path = SphericalCubature
	url = https://github.com/cran/SphericalCubature
	shallow = true
	registered = true
